.about {
    p{
        font-size: 30px;
        width: 800px;
    }
    h1 {
        text-align: center;
    }

    .contabout{
        display: grid;
        grid-template-rows: 1fr 2fr;
    }
    

    .texto{
        width: 100%;
        font-size: 12pt;
        text-align: center;
        letter-spacing: 3px;
        line-height: 55px;
       
    }
text-align: justify;  
justify-content: justify;
}